<div class="row">
    <h1 class="text-center">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">   
        <ul>
            <li>
                <h2>Educación 1</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus incidunt facilis labore saepe deserunt, molestiae blanditiis exercitationem nihil doloribus soluta, deleniti ducimus fuga expedita veniam pariatur temporibus adipisci ratione. Doloremque.
            </p>
            <li>
                <h2>Educación 2</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus incidunt facilis labore saepe deserunt, molestiae blanditiis exercitationem nihil doloribus soluta, deleniti ducimus fuga expedita veniam pariatur temporibus adipisci ratione. Doloremque.
            </p>
            <li>
                <h2>Educación 3</h2> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus incidunt facilis labore saepe deserunt, molestiae blanditiis exercitationem nihil doloribus soluta, deleniti ducimus fuga expedita veniam pariatur temporibus adipisci ratione. Doloremque.
            </p>
        </ul>
    </div>
</div>
